image_classifier/runs
image_classifier/models
image_classifier/.idea
image_classifier/.ipynb_checkpoints
image_classifier/resources/images
image_classifier/utils/__pycache__
image_classifier/resources
